body {
  background-image: url(https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: 100%;
}

.wMessageA {
  text-align: center;
  color: rgb(0, 115, 255);
  font-family: 'Franklin Gothic Medium';
  font-size: 40px;
  text-shadow: 1px 1px 1px black;
}

.wMessageB {
  text-align: center;
  font-size: larger bold;
  text-shadow: 1px 1px 1px rgb(0, 115, 255);
}

#signupBtn {
  display: flex;
  margin: auto;
}