/* main {
  background-image: url(https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
} */

.allLogsTitle {
  text-align: center;
  color: rgb(0, 115, 255);
  text-shadow: 1px 1px 1px black;
  font-family: 'Franklin Gothic Medium';
}

.logCard {
  display: flex;
  justify-content: center;
  margin: auto;
}
