.allLogsTitle {
  text-align: center;
  color: rgb(0, 115, 255);
  text-shadow: 1px 1px 1px black;
  font-family: 'Franklin Gothic Medium';
}

.logCard {
  display: flex;
  justify-content: center;
  margin: auto;
}